@import "tailwindcss";

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */
body {
  background: linear-gradient(#0f123b 0%, #090d2e 59%, #020515 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
}
